# requirements.txt
fastapi
python-multipart
uvicorn
pydantic
pydantic-settings
pytest
pytest-asyncio
docutils
protobuf
mock
numpy
aiofiles

google-generativeai
google-genai==1.19.0
quixstreams
uvloop==0.21.0